/* Undo what this selector does in the main style */
.slidev-layout h1 + p {
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

code, kbd, samp, pre {
  font-size: 0.8rem;
}

.slidev-layout a:hover,
.slidev-layout a {
  text-decoration: underline;
  border-bottom: none;
}

.prose ul {
  margin: 0 !important;
}
