{pre_hooks, [{compile, "gleam build ."}]}.
{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [{test, [
    {src_dirs, ["src", "test", "gen/src", "gen/test"]}
]}]}.

{plugins, [
    rebar_mix
]}.

{provider_hooks, [
    {pre,  [{compile, {mix, find_elixir_libs}}]},
    {post, [{compile, {mix, consolidate_protocols}}]}
]}.

{shell, [{apps, [example]}]}.

{deps, [
    gleam_experimental_stdlib,
    plug,
    plug_cowboy
]}.
